@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #991937;
}


/* FIM DO BODY */

*{
    margin: 0;
}


header{
    position: fixed;
    z-index: 10;
    background-color: #be304f;
    width: 100%;

    .container{
        width: 90%;
        margin: auto;

        .flex{
            display: flex;

            .flex-col1{
                flex-basis: 50%;
                display: flex;
                align-items: center;

                .header-logo{
                    img{
                        width: 200px;
                        /* definir width pro logo. seria interessante */
                    }
                }
            }

            .flex-col2{
                flex-basis: 50%;
                text-align: right;

                .header-menu{
                    display: block;
                    text-align: right;
                    color: #f2e982;
                    font-size: 2em;
                    margin: 10px;
                    transition: all 0.3s;
                }

                .header-menu:hover{
                    color: #2e010b; 
                }

                .header-nav{
                    display: none;
                    position: absolute;
                    top: 55px;
                    left: 0;
                    width: 100%;
                    background-color: #410110;
                    text-align: center;
                    
                    ul{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        text-align: center; 
        
                        li{
                            display: block;

                            a{
                                display: block;
                                font-family: 'Poppins', Arial, Helvetica, sans-serif;
                                text-decoration: none;
                                color: white;
                                /* border-radius: 25px; */
                                background-color: #410110;
                                transition: all 0.3s;
                            }
                            a:hover{
                                transform: scale(1.1);
                                background-color: white;
                                color: black;
                            }

                            .btn{
                                background-color: #f2e982;
                                color: #410110;
                                transition: all 0.3s;
                            }
                            
                            .btn:hover{
                                transform: scale(1.1);
                                background-color: #fce6f5;
                                color: #2e010b; 
                            }
            
                        }
                    }
                }
                .header-nav.show{
                    display: block !important;
                }
                
            }
        }
    }
}

/* FIM DO HEADER */

.banner{
    background: url(../assets/imagens/mainMenu2.png) no-repeat top center;
    background-size: cover;
    margin-top: 55px;
    width: 100%;
    height: 75%;
}

/* FIM DO BANNER */


.espacoHeader{
    width: 85%;
    display: flex;
    margin: auto;
    background-color: #be304f;
    border-radius: 8px;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 20px;
    .container{
        .grid{
            display: flex;
            flex-direction: column;
            padding: 10px;
            .col{
                padding: 10px;
                .galleryImage{
                    border-radius: 10px;
                    width: 100%;
                    transition: all 0.5s;
                }
                .galleryImage:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

#fullscreen-container {
    display: none;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}


#fullscreen-container img{
    max-width: 90%;
    max-height: 90%;
}

/* FIM DO espacoHeader (usado nas paginas de galeria, contato e jogar) */

.container{
    margin: auto;
    h1{
        text-align: center;
        padding: 20px;
        .faixaTitle{
            font: 26px 'Finger Paint', Arial, Helvetica, sans-serif;
            color: white;
            background: #410110;
            border-radius: 25px;
            margin: 20px;
            padding: 10px;
            line-height: 40px;
        }
    }

    .formBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding: 20px;
        background-color: #991937;
        .labelForm{
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: white;
            padding: 5px;
        }
        .textBox{
            border: 5px solid #be304f;
            border-radius: 10px;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            color: #ffff;
            background-color: #2e010b;
            text-decoration: none;
            transition: 0.3s;
        }
        .textBox:hover{
            border: 5px solid #f2e982;
        }
        .textAreaBox{
            min-width: 400px;
            max-width: 500px;
            min-height: 100px;
            max-height: 200px;

            border: 5px solid #be304f;
            border-radius: 10px;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            color: #ffff;
            background-color: #2e010b;
            text-decoration: none;
            transition: 0.3s;
        }
        .textAreaBox:hover{
            border: 5px solid #f2e982;
        }
        .btn{
            margin: auto;
            width: 90%;
            border: 0;
            border-radius: 10px;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            background-color: #f2e982;
            color: #410110;
            transition: all 0.3s;
        }
        
        .btn:hover{
            transform: scale(1.1);
            background-color: #fce6f5;
            color: #2e010b; 
        }
    }
    /* esse é o iframe do jogo (pagina jogar) */
    iframe{
        margin: 50px 0;
        width: 85vw;
        height: 300px;
    }
    .jogarBtn{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        justify-self: center;
        width: 25vw;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: white;
        padding: 10px;
        margin: 20px;
        border-radius: 25px;
        background-color: #410110;
        transition: all 0.3s;
    }
    .jogarBtn:hover{
        transform: scale(1.1);
        background-color: white;
        color: black;
    }
}

/* FIM DO FAIXATITLE */

main{
    section{
        padding: 50px 0;
    }
}

.boxInform{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 20px;
    background-color: #be304f;
    border-radius: 8px;
    margin-top: 75px;
    margin-bottom: 90px;

    .container{
        width: 90%;
        margin: auto;
        .videoTrailerHome{
            width: 100%;
            height: 240px;
            margin: auto;
            border-radius: 25px;
        }
        .videoTrailerSobre{
            width: 100%;
            height: 300px;
            margin: 50px 0;
        }
        h2{
            color:white;
            font-family: 'Finger Paint', Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 20px;
        }
        p{
            color: white;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 20px;
        }
        a{
            display: flex;
            justify-content: center;
            justify-self: center;
            width: 25vw;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: white;
            padding: 10px;
            margin: 40px;
            border-radius: 25px;
            background-color: #410110;
            transition: all 0.3s;
        }     
        a:hover{
            transform: scale(1.1);
            background-color: white;
            color: black;
        }
        .flexInform{
            display: flex;
            flex-direction: column;

            img{
                width: 50%;
                margin: auto;
            }
        }

    }
}

/* FIM DO SECTION */


footer{
    background: url('../assets/imagens/footer.png') no-repeat center;
    background-size: cover;
    height: fit-content;
    padding: 20px 0;
    text-align: center;

    img{
        width: 35%;
    }
    
    a{
        color: #f2e982;
        font-size: 2.3em;
        text-decoration: none;
        margin: 15px;
        transition: all 0.3s;
    }
    a:hover{
        color: #fce6f5;
    }
    p{
        margin: 20px;
        line-height: 30px;
        color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }
}

.center{
    text-align: center;
}

/* FIM DO FOOTER */

/* Se o usuario tiver uma tela com mais de 1000px ou igual 1000px  */
@media (min-width: 1000px){

    /* Inicio do Header */
    header{
        .container{
            width: 1000px;
            .flex{
                .flex-col1{
                    flex-basis: 30%;
                    .header-logo{
                        img{
                            width: 200px;
                        }
                    }
                }
                .flex-col2{
                    flex-basis: 70%;
                    .header-menu{
                        display: none;
                    }
                    .header-nav{
                        display: block;
                        position: relative;
                        top: 0px;
                        background-color: #be304f;
                        text-align: right;
                        ul{
                            li{
                                display: inline-block;
                                padding: 5px;
                                a{
                                    display: block;
                                    font-family: 'Poppins', Arial, Helvetica, sans-serif;
                                    text-decoration: none;
                                    color: white;
                                    padding: 10px;
                                    border-radius: 25px;
                                    background-color: #410110;
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* Final do Header */
    /* Inicio da espacoHeader */
    .espacoHeader{
        margin-bottom: 200px;
        .container{
            .grid{
                display: grid;
                grid-template-columns: repeat(3, 33%);
            }
            /* esse é o iframe do jogo (pagina jogar) */
            iframe{
                width: 50vw;
                height: 50vh;
                border: 0;
            }
            .jogarBtn{
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
                justify-self: center;
                width: 25vw;
                font-family: 'Poppins', Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: white;
                padding: 10px;
                margin: 20px;
                border-radius: 25px;
                background-color: #410110;
                transition: all 0.3s;
            }
            .jogarBtn:hover{
                transform: scale(1.1);
                background-color: white;
                color: black;
            }
        }
    }
    /* Final da espacoHeader */
    /* Inicio da boxInform */
    .boxInform{
        justify-content: center;
        border-radius: 8px;
        margin-top: 75px;
        margin-bottom: 90px;

        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #be304f;

        .container{
            margin: auto;
            .videoTrailer{
                width: 100%;
                height: 400px;
                margin: auto;
                border-radius: 25px;
            }
            h2{
                color:white;
                font-family: 'Finger Paint', Arial, Helvetica, sans-serif;
                text-align: center;
                padding: 20px;
            }
            p{
                color: white;
                font-family: 'Poppins', Arial, Helvetica, sans-serif;
                text-align: center;
                padding: 20px;
            }
            a{
                display: flex;
                justify-content: center;
                justify-self: center;
                width: 25vw;
                font-family: 'Poppins', Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: white;
                padding: 10px;
                border-radius: 25px;
                background-color: #410110;
                transition: all 0.3s;
            }
            a:hover{
                transform: scale(1.1);
                background-color: white;
                color: black;
            }
            .flexInform{
                display: flex;
                flex-direction: row;
    
                img{
                    width: 50%;
                    margin: auto;
                }
            }
            
        }
    }
    /* Final da boxInform */
    /* Inicio do Footer */
    footer{
        .container{
            p{
                img{
                    width: 20%;
                }
            }
        }
    }
    /* Final do Footer */
    
}

/* Personalização da Scrollbar para navegadores WebKit (Chrome, Edge, Safari) NAO FUNCIONA NO FIREFOX */

::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #2e010b; /* Cor de fundo */
}

/* Barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #d83d5f; /* Cor da barra */
    border-radius: 3px; /* Bordas arredondadas */
}

/* Quando o usuário passa o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #f2e982; /* Cor ao passar o mouse */
}

/* muda a cor da barra no FIREFOX */
scrollbar-color{
    background: #d83d5f;
}

/* Fim da personalização da Scrollbar */


/* Configuração apenas para a home page */

/* Se o usuario possuir no maximo entre uma tela de 1000px e 850px, aplica essa responsividade */
@media (max-width: 1000px){
    .banner{
        background-size: cover;
        height: 55%;
    }
}
/* Se o usuario possuir no maximo entre uma tela de 850px e 600px, aplica essa responsividade */
@media (max-width: 850px){
    .banner{
        background-size: cover;
        height: 45%;
    }
}
/* Se o usuario possuir no maximo entre uma tela de 600px e 450px, aplica essa responsividade */
@media (max-width: 600px){
    .banner{
        background-size: cover;
        height: 35%;
    }
}
/* Se o usuario possuir no maximo entre uma tela de 450px ou menos, aplica essa responsividade */
@media (max-width: 450px){
    .banner{
        background-size: contain;
        height: 25%;
    }
}